<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1055898783738-5ri6208lj0fm4v1capolnm012gobe6ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055898783738-5ri6208lj0fm4v1capolnm012gobe6ka</string>
	<key>API_KEY</key>
	<string>AIzaSyBy-tbHZ_vk1odCdvXdlieABgReIiQkP88</string>
	<key>GCM_SENDER_ID</key>
	<string>1055898783738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CoinPush</string>
	<key>PROJECT_ID</key>
	<string>coin-push</string>
	<key>STORAGE_BUCKET</key>
	<string>coin-push.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055898783738:ios:3f8787c6895d2427</string>
	<key>DATABASE_URL</key>
	<string>https://coin-push.firebaseio.com</string>
</dict>
</plist>