<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>700082761F21CE320027BE98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F308571F0B9BA40055D9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB49664B1F0304A5008CD42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB49665F1F0304A5008CD42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB49666A1F0304A5008CD42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB4966731F0304A5008CD42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBB6FD711F1207D200670A98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
